



#mynavbar
{
	float:left;
}

.sr-only
{
	color: red;
}
#contact-header
{
	margin-top: ;
	color:#86cfcb;
	padding-right: 5%;
}
#bs-example-navbar-collapse-1
{
	margin-top: 6%;
	font-size: 13px;
    
	
    
}

.navbar-default {
  background-color: #9b59b6;
  border-color: #8e44ad;
}

.awesome
{
	float: right;
}

#brand-name
{
	float:left;
	margin-left: 0%;
}
#login-option
{
	padding-right: 3%;
}
#menu-cellecer-menu
{
	padding-left: 3%;
}
.col-xs-1
{
	float:right;
	padding-right: 5%;

}
#phone
{
padding-top: 4%;

}

.btn{
	font-size: 13px;
	width: 60px;
	height: 25px;
	border-radius: 80px;
	line-height: 8px;
    text-align: center;
    display: block;
    text-decoration: none;
    color:#fff;
    position: relative;
    overflow: hidden;
    background: transparent;
    transition: .3s;
    padding-left:5px ;


}

.btn1{
    font-size: 13px;
    width: 60px;
    height: 25px;
    border-radius: 80px;
    line-height: 8px;
    text-align: center;
    display: block;
    text-decoration: none;
    color:#fff;
    position: relative;
    overflow: hidden;
    background: transparent;
    transition: .3s;
    padding-left:5px ;


}



#grad {
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#4d91a4, #00627c); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#4d91a4, #00627c); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#4d91a4, #00627c); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#4d91a4, #00627c); /* Standard syntax */

}



#grad:hover
{
	background: #009688;
	color:#fff;
}

#sign{
	padding-right: 5px;
}


.pager li>a, .pager li>span {
    display: inline-block;
    padding: 5px 14px;
     color: #fff;
    border: 1px solid #ddd;
    border-radius: 15px;
    background: #4d91a4; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#86cfcb, #52bab5); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#86cfcb, #52bab5); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#86cfcb, #52bab5); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#86cfcb, #52bab5); 
}
.pager li>a:hover {
    text-decoration: none;
    color: #fff;
     background: #4d91a4; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#4db4b8, #00939a); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#4db4b8, #00939a); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#4db4b8, #00939a); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#4db4b8, #00939a); 
}



.container
{
	height: 100%;
	width: 100%;
}

.vertical-menu {
    width: 200px; /* Set a width if you like */
}

.vertical-menu ul {
    background-color: #fff; /* Grey background color */
    display: block;
    padding:2px; /* Make the links appear below each other */
    text-decoration: none;
    /* Remove underline from links */
}

.vertical-menu li {
    background-color: #fff; /* Grey background color */
    color: #fff; /* Black text color */
    display: block;  
    padding: 0px; /* Add some padding */
    text-decoration: none;
    border-style: ridge; 
    border-width: 1px;
    /* Remove underline from links */
}

.vertical-menu li:hover {
    background-color: #668ec9;
     color:#fff;
     text-decoration: none;
/* Dark grey background on mouse-over */
}

a {
    color: #555;
    text-decoration: none;
}

a:hover
{
	color: #fff;
    text-decoration: none;
}

.vertical-menu a.active {
    background-color: #668ec9; /* Add a green color to the "active/current" link */
    color: #fff;
}


#image
{
	background-color: red;
}




.child-div1 {
    float: left;
    background-image: url(../wp-content/themes/awesome/images/design_09.png);
    width: 100%;
    height: 100%;
    padding-left: 5%;
    word-wrap: break-word;
}

.child-div2 {
    float: right;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    word-wrap: break-word;
}

.about-container
{
    padding-top: 2%;
}
.about-container1
{
    padding-top: 3%;
}

.view-jobs
{
    padding-top: 3%;
    padding-bottom: .5%;
    overflow: scroll;
    float: left;
}
.footer
{ 
    background-color: #00627c;
    display: block;
}
.footer-menu li>a
{
    color: #fff;
    text-decoration: none;
}

.footer-menu li>a:hover
{
    color: yellow;
    text-decoration: none;
}

ul {
  list-style-type: none;
  
}

.contact-us-footer
{
    display: inline-block;
}
.contact-footer
{
    float: right;
    display: block;
    margin-right: 5%;
}


.contact-footer form input {
    display: block;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
    border: none;
    resize: none;
    font: inherit;
    font-size: 10px;
    font-weight: normal;
    color: #d1d2d2;
    width: 250px;
    margin-top: 10px;
    margin-right: 10px;
    padding: 10px;
}
.contact-footer form textarea {
    display: block;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
    border: none;
    resize: none;
    font: inherit;
    font-size: 10px;
    font-weight: normal;
    color: #d1d2d2;
    width: 250px;
      margin-top: 10px;
    margin-right: 10px;
    padding: 18px;
}

button
{
margin-top: 10px;
    margin-right: 10px;
    color: #fff;
     background: #4d91a4; 
     width: 60px;
    height: 25px;
    border-radius: 80px;
    line-height: 8px;
    border-style: none;
    text-align: center;/* For browsers that do not support gradients */
    
}

h3
{
    color:#00939a;
    font-style: normal;
    text-align: center;
}

